/* ------------------------Allmänna regler */

.width {
    width: 50%;
}

.rubrik {
    color: blue;
}

/* ------------------------Välkommen sidan */

.welcomeimage {
    width: 300px;
    height: 300px;
}

/* -------------------------sida1 */



/* --------------------------sida2 */



/* --------------------------sida3 */